.img1 {
  float: right;
  padding-right: 10%;
  width: 350px; 
}
.clearfix {
  overflow: auto;
}

body {
	font-family: inherit;
}

p {
	padding-right: 30%;
}

h2 {
	padding-bottom: 20px;
}

#contactID {
	padding-top: 50px;
}